{% extends "layout.html" %}

{% block body %}
<h1>Kirjaudu sisään</h1>
{% if error %}
<div class="alert alert-danger" role="alert">{{ error }}</div>
{% endif %}
<form method="POST" action="{{ url_for('auth_login') }}" class="form-signin">
  <div class="form-group">
    {{ form.username(class="form-control", placeholder="Käyttäjänimi") }}
  </div>
    {% for error in form.username.errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
  <div class="form-group">
    {{ form.password(class="form-control", placeholder="Salasana") }}
  </div>
    {% for error in form.password.errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
  <button type="submit" class="btn btn-primary" >Kirjaudu sisään</button>
</form>
{% endblock %}
