{% extends "layout.html" %}

{% block body %}
<div>
<h2>Käyttäjän {{ user.username }} sivu</h2>
<p>Nimi: {{user.name}}</p>
<p>Rekisteröitynyt palveluun: {{user.date_created}}</p>
{% if not list %}
<p>Käyttäjällä ei ole ilmoituksia palvelussa</p>
{% else %}
<table>
  <tr>
    <th>Ilmoitukset</th>
  </tr>
  {% for item in list %}
  <tr>
    <td><a href="{{url_for('single_product_page', product_id=item.id)}}">{{item.name}}</a></td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<p>Kommentteja: {{comment_count[0]}}</p>

{% if current_user.id == user.id %}
<form method="get" action="{{url_for('edit_user', user_id=user.id)}}">
  <button type="submit" class="btn btn-secondary">Muokkaa tietoja</button>
</form>
{% endif %}

</div>
{% endblock %}
