{% extends "layout.html" %}

{% block body %}
<h1>Muokkaa ilmoitustasi</h1>
<h2>{{ product.name }}</h2>
<p>{{product.content}}</p>
<p>Hinta: {{product.price}}</p>

<form method="post" action="{{url_for('delete_product_ad', product_id=product.id)}}">
  <button type="submit" class="btn btn-danger" >Poista ilmoitus</button>
</form>
<div class="container">
<form method="post" action="{{url_for('product_ad_modify', product_id=product.id)}}" >
  <div class="form-group">
    {{form.name(class="form-control", placeholder="Nimi")}}
  </div>
    {% for error in form.name.errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
  <div class="form-group">
    {{form.content(class="form-control", placeholder="Sisältö")}}
  </div>
    {% for error in form.content.errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
  <div class="form-group">
    {{form.price(class="form-control", placeholder="Hinta")}}
  </div>
    {% for error in form.price.errors %}
    <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endfor %}
  <button type="submit" class="btn btn-primary">Tallenna</button>
</form>
</div>
{% endblock %}
