{% extends "layout.html" %}

{% block body %}
<h1>Muokkaa ilmoitustasi</h1>
<h2>{{ product.name }}</h2>
<p>{{product.content}}</p>
<p>Hinta: {{product.price}}</p>

<form method="post" action="{{url_for('delete_product_ad', product_id=product.id)}}">
  <input type="submit" value="Poista ilmoitus"/>
</form>
<form method="post" action="{{url_for('product_ad_modify', product_id=product.id)}}" >
  <table>
    <tr>
      <td>
        {{form.name.label}}
      </td>
      <td>
        {{form.name}}
      </td>
      <td>
	       <ul>
	         {% for error in form.name.errors %}
	         <li>{{ error }}</li>
	         {% endfor %}
	        </ul>
	     </td>
    </tr>
    <tr>
      <td>{{form.content.label}}</td>
      <td>{{form.content}}</td>
      <td>
	       <ul>
	         {% for error in form.content.errors %}
	         <li>{{ error }}</li>
	         {% endfor %}
	        </ul>
	     </td>
    </tr>
    <tr>
      <td>
        {{form.price.label}}
      </td>
      <td>
        {{form.price}}
      </td>
      <td>
	       <ul>
	         {% for error in form.price.errors %}
	         <li>{{ error }}</li>
	         {% endfor %}
	        </ul>
	     </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Tallenna muokkaukset" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
