{% extends "layout.html" %}

{% block body %}
<div>
<h1>Myynti-ilmoitukset</h1>

<div class="container">
  {% for item in productList %}
  <div class="row">
    <div class="col"><a href="{{url_for('single_product_page', product_id=item.id) }}">{{item.name}}</a></div>
    <div class="col">{{item.price}} €</div>
    {% if item.account_id == user.id %}
    <div class="col"><a href="{{url_for('product_ad_page', product_id=item.id) }}">Muokkaa ilmoitusta</a></div>
    {% else %}
    <div class="col"></div>
    {% endif %}
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
