{% extends "layout.html" %}

{% block body %}
<div>
  <h2>{{ product.name }}</h2>
  {% if current_user.id == user.id %}
  <div>
    <a href="{{url_for('product_ad_page', product_id=product.id) }}">Muokkaa ilmoitusta</a>
  </div>
  {% endif %}
  <div>
    <p>{{product.content}}</p>
  </div>
  <p>Hinta: {{product.price}} €</p>
  <p>Ilmoituksen jättänyt käyttäjä
    <a href="{{url_for('auth_user_page', user_id=user.id)}}">{{user.username}}</a>
  </p>
</div>

<table>
  <tr>
    <th>Kommentit</th>
  </tr>
{% for c in comments %}
    <tr>
      <td>{{c.username}}</td>
      <td>{{c.content}}</td>
      {% if current_user.id == c.user_id %}
      <td>
        <form method="post" action="{{url_for('delete_comment', comment_id = c.comment_id, product_id = product.id)}}">
          <button type="submit" class="btn btn-danger" >Poista kommentti</button>
        </form>
      </td>
      {% endif %}
    </tr>
{% endfor %}
</table>
<form method="post" action="{{url_for('add_comment', product_id = product.id)}}">
<div class="form-group">
{{form.content(class="form-control", placeholder="Kommentti...")}}
</div>
      <button type="submit" class="btn btn-primary" >Lisää kommentti</button>
</form>
{% endblock %}
