{% extends "layout.html" %}

{% block body %}
<h2>{{ product.name }}</h2>
<p>Hinta: {{product.price}}</p>
<p>Ilmoituksen jättänyt käyttäjä
<a href="{{url_for('auth_user_page', user_id=user.id)}}">{{user.username}}</a>
</p>
<table>
  <tr>
    <th>Kommentit</th>
  </tr>
{% for c in comments %}
    <tr>
      <td>{{c.username}}</td>
      <td>{{c.content}}</td>
    </tr>
{% endfor %}
</table>
<form method="post" action="{{url_for('add_comment', product_id = product.id)}}">
<table>
  <tr>
    <td>{{form.content.label}}</td>
    <td>{{form.content}}</td>
    <td colspan="2">
      <input type="submit" value="Lisää kommentti" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
